[Unit]
Description=Grafana worldPing Blackbox Exporter Sidecar Service

[Service]
Type=simple
User=root
Group=root
EnvironmentFile=/etc/worldping/worldping.conf
ExecStart=/usr/bin/worldping-blackbox-sidecar --api-token ${API_TOKEN} --api-server-address ${API_SERVER}
Restart=always

[Install]
WantedBy=network-online.target
