import http from 'k6/http';
import { check, fail } from 'k6';
import { test } from 'k6/execution';
// TODO(mem): conditionally import these modules
// - import encoding if base64 decoding is required
// - import jsonpath if there are json assertions
import encoding from 'k6/encoding';
import jsonpath from 'https://jslib.k6.io/jsonpath/1.0.2/index.js';
import { URL } from 'https://jslib.k6.io/url/1.0.0/index.js';

export const options = {
	scenarios: {
		default: {
			executor: 'shared-iterations',
			tags: {
				// TODO(mem): build tags out of options for the check?
				environment: 'production',
			},
			// exec: 'runner',
			maxDuration: '10s', // TODO(mem): this would be the timeout for the check
			gracefulStop: '1s',
		},
	},

	dns: {
		ttl: '2m', // TODO(mem): this doesn't need to be much higher than the maxDuration
		select: 'first',
		// TODO(mem): we can build this maps to IP option in checks, more or less
		policy: 'preferIPv4', // preferIPv6, onlyIPv4, onlyIPv6, any
	},

	// TODO(mem): we can build this out of check options
	insecureSkipTLSVerify: false,
	tlsVersion: {
		// TODO(mem): we can build this out of check options
		min: 'tls1.2',
		max: 'tls1.3',
	},
	// TODO(mem): we can build this out of agent version
	userAgent: 'synthetic-monitoring-agent/v0.14.3 (linux amd64; g64b8bab; +https://github.com/grafana/synthetic-monitoring-agent)',

	maxRedirects: 10,
	blacklistIPs: ['10.0.0.0/8'],
	blockHostnames: ['*.cluster.local'],

	// k6 options
	vus: 1,
	// linger: false,
	summaryTimeUnit: 's',
	discardResponseBodies: false, // enable only if there are checks?
};

function assertHeader(headers, name, matcher) {
	const lcName = name.toLowerCase();
	const values = Object.entries(headers).
		filter(h => h[0].toLowerCase() === lcName).
		map(h => h[1]);

	if (values.find(v => matcher(v)) !== undefined) {
		return true;
	} else if (values.length === 0) {
		console.warn(`'${name}' not present in response`);
	} else {
		values.forEach(v => console.warn(`'${name}' has the value '${v}'`));
	}

	return false;
}

export default function() {
	let response;
	let url;
	let currentCheck;
	let match;
	const vars = {};

 {{ range $idx, $entry := .Entries }}
	console.log("Starting request to {{.Request.Url}}...");
	try {
		url = new URL({{ buildUrl .Request.Url }});
	} catch(e) {
		console.error("Invalid URL: {{ .Request.Url }}");
		fail()
	}
	{{- $queries := buildQueryParams "url" .Request }}
	{{ range $queries }}{{ . }};
	{{ end -}}
	{{- $method := .Request.Method.String }}
	{{- $body := buildBody .Request.Body }}
	{{- $headers := buildHeaders .Request.Headers .Request.Body }}
	response = http.request('{{ $method }}', url.toString(), {{ $body }}, {
		// TODO(mem): build params out of options for the check
		tags: {
		  name: '{{ $idx }}', // TODO(mem): give the user some control over this?
		  __raw_url__: url.toString(),
		},
		redirects: 0{{ if gt (len $headers) 0 }},
		headers: {{ $headers }}{{ end }}
	});
	console.log("Response received from {{.Request.Url}}, status", response.status);
	if(response.error) {
		console.error("Request error:" + url.toString() + ": " + response.error)
	}
	{{ range .Assertions }}{{ buildChecks "url" $method . }}
	{{ end -}}
	{{ range .Variables }}{{ buildVars . }}
	{{ end -}}
	{{ end }}
}
