name: validate and publish commit to production

on:
  push:
    tags:
      - v*.*.*

# This is needed so that pushing to GAR works.
permissions:
  contents: none
  packages: none

jobs:
  call_build_and_publish:
    permissions:
      contents: write # Necessary to publish artifacts
      id-token: write # Necessary to publish to GAR
    uses: ./.github/workflows/build_and_publish.yaml
    with:
      mode: prod
