name: Validate renovate config
on:
  pull_request:
    paths:
      - '.github/renovate.*'
jobs:
  validate:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Renovate config validator
        run: |
          # Renovate updates the line below. Please keep its formatting as it is.
          export RENOVATE_IMAGE=ghcr.io/renovatebot/renovate:39.11.7@sha256:fb15bd3a3b295384a9785938c9785538f7f365dcec4690886a43e4648d3f31ed
          docker run -i --rm -v "$(realpath .):/repo" -w /repo --entrypoint renovate-config-validator "$RENOVATE_IMAGE" --strict
