name: Self-hosted Renovate (Deprecated)

on:
  workflow_dispatch:

permissions:
  contents: none

jobs:
  renovate:
    permissions:
      # Needed for logging into vault.
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Self-hosted renovate
        uses: grafana/sm-renovate/actions/renovate@main
