name: Self-hosted Renovate (Deprecated)

on:
  workflow_dispatch:

permissions:
  contents: none

jobs:
  renovate:
    permissions:
      # Needed for logging into vault.
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Self-hosted renovate
        uses: grafana/sm-renovate/actions/renovate@main
